[Unit]
Description=Kolibri autosync
After=kolibri-server.service

[Service]
Type=forking
ExecStart=/usr/sbin/kolibri-autosync

[Install]
WantedBy=multi-user.target
